<div align="center">

<h1> About Us </h1>
 <p> We are Airbnb for boys/babes. Instead of renting rooms or property. <br> we rent boys or babes for anyone who wants to spend time with that particular person</p>
 <br>
 <br>
  <h1>Why use us </h1>
  If you are a boy: Hangout with the best babe of your choice 
  <br>
  If your are a babe: Hangout with the best boys of your choice
  <br> 
  <br>
  <br>
 <h1> How you can use Pairbnb </h1>
  As a customer: You can shop for your own babes/boys like Airbnb <br>
  As a host: You can list yourself as babes/boys to earn extra bucks in your free time 

  </div>


