<div class="hero-header">
  <div id= "text1" class="main-text" align="center">
    PairBnB
  </div>
  <div id= "text2" class="sub-text" align="center">A place to pair boys and babes</div>
</div>

    