<h2> You've successfully booked <h2>
<br>
<%= link_to "Make Payment", braintree_new_path(@reservation.id) %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h2> Click <a href="/listings/:listing_id/reservations/:id/my_reservation?"> here </a> to view all your reservation </h2>
