<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  <body>
  	 <h1>Congratulations! You have received a booking from <%= @customer.name%></h1>
    <p>
      You can see details of your new reservation here: <%= @url %>
    </p>
    <%= yield %>
  </body>
</html>
